
//esconde
body{
    font-family: 'Lora', serif;
    margin: 20%;  
    padding: 0; 
    background-color:black; 
    height: 97%; 
    text-align: center;
}
#mostrar{
    display: none;
  }
  
  #passar_mouse:hover #mostrar{
    display:block;
    }

.titulo{
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

#imagem-olhos
{margin: 0;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: rgb(0, 0, 0); 
    font-family: 'Cinzel', serif;
}

img{
    width: 70%;
    height: 80%;
}

#caixa-1{
    display: flex; 
    width: 100%; 
    height: 60%; 
    justify-content: center; 
    align-items: flex-end;
}

#caixa-2{
    margin-top: 30px;
}

.link-lc{
    font: 28; 
    color: rgb(0, 0, 0); 
    text-decoration: none;
}

.link-lc:hover{
    background-color: rgb(0, 0, 0); 
    color: black;
}

#login{
    display: flex; 
    justify-content: center; 
    height: 100%; 
    align-items: center;
}

form{
    width: 30%; 
    height: 260px;
}

label{
    color: rgb(0, 0, 0);
}

p{
    text-align :center;
    color: rgb(0, 0, 0);
}

h2{
    color: rgb(0, 0, 0);
}

div{
    text-align :center;
    color: rgb(0, 0, 0);
}

#cadastro{display: flex; justify-content: center; height: 100%; align-items: center;}