body{
    font-family: 'Lora', serif;
    margin: 6%;  
    padding: 0; 
    background-color:black; 
    height: 97%; 
    text-align: center;
}

.titulo{
    color: whitesmoke;
    margin: 0;
    padding: 0;
    text-align: center;
}

#imagem-olhos
{margin: 0;
    text-align: center;
    border: 1px solid white;
    text-align: center;
}

h1{
    text-align: center;
    color: white; 
    font-family: 'Cinzel', serif;
}

img{
    width: 70%;
    height: 80%;
}

#caixa-1{
    display: flex; 
    width: 100%; 
    height: 100%; 
    justify-content: center; 
    align-items: flex-end;
}

#caixa-2{
    margin-top: 30px;

}

.link-lc{
    font: 28; 
    color: white; 
    text-decoration: none;
}

.link-lc:hover{
    background-color: white; 
    color: black;
}

label{
    color: white;
}

p{
    text-align :center;
    color: white;
}

h2{
    color: white;
    text-align: center;
}

div{
    text-align :center;
    color: white;
}

#Qrcode {
    position: absolute;
    left: -10px;
    bottom: 10px;
    max-height: 120px;     
    max-width: 120px;
    }